
.fern,.hover-fern:hover{color:#D2DAD2!important;background-color:#406D3C!important}
.w3-white,.w3-hover-white:hover{color:#272727!important;background-color:#D2DAD2!important}
html{background-color:#272727;color:#D2DAD2}